ethereum @LedgerHQ/crypto-assets-owners
scripts @LedgerHQ/crypto-assets-developers
Pipfile* @LedgerHQ/crypto-assets-developers
README.md @LedgerHQ/crypto-assets-owners @LedgerHQ/crypto-assets-developers