[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"

[dev-packages]
eth-hash = {version = "*", extras = ["pycryptodome"]}
eth-utils = "*"

[scripts]
validate_files = "python ./scripts/validate_files.py"

[requires]
python_version = "3.9"
